Lab API - Manage your APIs with API Connect/materials/step2/branches.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.ad.ibm.com/branches/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Branches" targetNamespace="http://ws.ad.ibm.com/branches/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.ad.ibm.com/branches/getBranchById" version="1.0">
			<xs:element name="id" type="xs:int"/>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.ad.ibm.com/branches/" xmlns:ns1="http://ws.ad.ibm.com/branches/getBranchById" targetNamespace="http://ws.ad.ibm.com/branches/" version="1.0">
			<xs:import namespace="http://ws.ad.ibm.com/branches/getBranchById"/>
			<xs:element name="branch" type="tns:branch"/>
			<xs:element name="getAllBranches" type="tns:getAllBranches"/>
			<xs:element name="getAllBranchesResponse" type="tns:getAllBranchesResponse"/>
			<xs:element name="getBranchById" type="tns:getBranchById"/>
			<xs:element name="getBranchByIdResponse" type="tns:getBranchByIdResponse"/>
			<xs:complexType name="getAllBranches">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="getAllBranchesResponse">
				<xs:sequence>
					<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="branch" nillable="true" type="tns:branch"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="branch">
				<xs:sequence>
					<xs:element default="123456" form="qualified" name="id" type="xs:string"/>
					<xs:element default="atm" form="qualified" name="type" type="xs:string"/>
					<xs:element form="qualified" maxOccurs="unbounded" name="phones" type="tns:Phone"/>
					<xs:element form="qualified" name="address" type="tns:Address"/>
					<xs:element form="qualified" maxOccurs="unbounded" name="options" type="xs:string"/>
					<xs:element form="qualified" name="onlineStatus" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Phone">
				<xs:sequence>
					<xs:element default="Personal" form="qualified" name="type" type="xs:string"/>
					<xs:element default="999-888-777" form="qualified" name="number" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element default="600 Anton Blvd." form="qualified" name="street1" type="xs:string"/>
					<xs:element default="Appt 1" form="qualified" name="street2" type="xs:string"/>
					<xs:element default="92626" form="qualified" name="zip-code" type="xs:string"/>
					<xs:element default="Costa Mesa" form="qualified" name="city" type="xs:string"/>
					<xs:element default="CA" form="qualified" name="state" type="xs:string"/>
					<xs:element default="USA" form="qualified" name="country" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getBranchById">
				<xs:sequence>
					<xs:element ref="ns1:id"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getBranchByIdResponse">
				<xs:sequence>
					<xs:element minOccurs="0" ref="tns:branch"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getBranchByIdResponse">
		<wsdl:part element="tns:getBranchByIdResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllBranches">
		<wsdl:part element="tns:getAllBranches" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllBranchesResponse">
		<wsdl:part element="tns:getAllBranchesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBranchById">
		<wsdl:part element="tns:getBranchById" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Branches">
		<wsdl:operation name="getAllBranches">
			<wsdl:input message="tns:getAllBranches" name="getAllBranches">
			</wsdl:input>
			<wsdl:output message="tns:getAllBranchesResponse" name="getAllBranchesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBranchById">
			<wsdl:input message="tns:getBranchById" name="getBranchById">
			</wsdl:input>
			<wsdl:output message="tns:getBranchByIdResponse" name="getBranchByIdResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BranchesSoapBinding" type="tns:Branches">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAllBranches">
			<soap:operation soapAction="http://ws.ad.ibm.com/branches/getAllBranches" style="document"/>
			<wsdl:input name="getAllBranches">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllBranchesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBranchById">
			<soap:operation soapAction="http://ws.ad.ibm.com/branches/getBranchById" style="document"/>
			<wsdl:input name="getBranchById">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBranchByIdResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Branches">
		<wsdl:port binding="tns:BranchesSoapBinding" name="BranchesSOAP">
			<soap:address location="https://addressmanagementwebservice.eu-gb.mybluemix.net/branches/Branches"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>